<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="genericity.language.gcomponent.resource.gcomponent.mopp.GcomponentMetaInformation" id="genericity.language.gcomponent.resource.gcomponent.mopp.GcomponentMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="genericity.language.gcomponent.resource.gcomponent.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="genericity.language.gcomponent.resource.gcomponent.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="genericity.language.gcomponent.resource.gcomponent.problem">
		</super>
	</extension>
	
	<extension id="genericity.language.gcomponent.resource.gcomponent.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="genericity.language.gcomponent.resource.gcomponent.problem">
		</super>
	</extension>
	
	<extension id="genericity.language.gcomponent.resource.gcomponent.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="genericity.language.gcomponent.resource.gcomponent.problem">
		</super>
	</extension>
	
	<extension id="genericity.language.gcomponent.resource.gcomponent.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="genericity.language.gcomponent.resource.gcomponent.problem">
		</super>
	</extension>
	
	<extension id="genericity.language.gcomponent.resource.gcomponent.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="genericity.language.gcomponent.resource.gcomponent.problem">
		</super>
	</extension>
	
	<extension id="genericity.language.gcomponent.resource.gcomponent.nature" name="gcomponent nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="genericity.language.gcomponent.resource.gcomponent.mopp.GcomponentNature">
			</run>
		</runtime>
		<builder id="genericity.language.gcomponent.resource.gcomponent.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="genericity.language.gcomponent.resource.gcomponent.builder" name="gcomponent Builder">
		<builder hasNature="true">
			<run class="genericity.language.gcomponent.resource.gcomponent.mopp.GcomponentBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="genericity.language.gcomponent.resource.gcomponent.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="genericity.language.gcomponent.resource.gcomponent.mopp.GcomponentResourceFactoryDelegator" type="gcomponent">
		</parser>
	</extension>
	
	<extension-point id="genericity.language.gcomponent.resource.gcomponent.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="genericity.language.gcomponent.resource.gcomponent.debug.GcomponentLineBreakpoint" id="genericity.language.gcomponent.resource.gcomponent.debug.breakpoint" markerType="genericity.language.gcomponent.resource.gcomponent.debug.lineBreakpoint.marker" name="gcomponent Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="genericity.language.gcomponent.resource.gcomponent.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="genericity.language.gcomponent.resource.gcomponent.ui.launchConfigurationType" delegate="genericity.language.gcomponent.resource.gcomponent.launch.GcomponentLaunchConfigurationDelegate" modes="run,debug" name="gcomponent Application" sourceLocatorId="genericity.language.gcomponent.resource.gcomponent.ui.sourceLocator" sourcePathComputerId="genericity.language.gcomponent.resource.gcomponent.ui.sourcePathComputer" delegateName="gcomponent Launch Tooling" delegateDescription="This will run or debug .gcomponent files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="genericity.language.gcomponent.resource.gcomponent.debug.GcomponentSourcePathComputerDelegate" id="genericity.language.gcomponent.resource.gcomponent.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="genericity.language.gcomponent.resource.gcomponent.ui.sourceLocator" class="genericity.language.gcomponent.resource.gcomponent.debug.GcomponentSourceLocator" name="gcomponent Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
