<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated generated-sequence_bdsl -->
      <package
            uri="http://bento/sirius/tests/sequence_bdsl"
            class="sequence_bdsl.Sequence_bdslPackage"
            genModel="models/generated-sequence_bdsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated generated-scenes_bdsl -->
      <package
            uri="wakame.scene_bdsl"
            class="scenes_bdsl.Scenes_bdslPackage"
            genModel="models/generated-scenes_bdsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metamodel_bdsl -->
      <package
            uri="http://www.example.org/metamodel_bdsl"
            class="metamodel_bdsl.Metamodel_bdslPackage"
            genModel="models/metamodel_bdsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mindstorms_bdsl -->
      <package
            uri="http://www.obeo.fr/dsl/mindstorms/1.0.0_bdsl"
            class="mindstorms_bdsl.Mindstorms_bdslPackage"
            genModel="models/mindstorms_bdsl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated workflow_bdsl -->
      <package
            uri="http://bento/flow_concept_bdsl"
            class="workflow_bdsl.Workflow_bdslPackage"
            genModel="models/workflow_bdsl.genmodel"/>
   </extension>

</plugin>
