*.class

# Package Files #
#*.jar
#*.war
#*.ear

# Ignored files
# Manually modified

.metadata

# Binaries
*/bin/*
*/eclectic-gen/*
*.asm

!componetization/bento.componetization.ui/swt-grouplayout.jar
!componetization/bento.componetization.ui/swing2swt.jar

