*.class

# Package Files #
#*.jar
#*.war
#*.ear

# Ignored files
# Manually modified

.metadata

# Binaries
*/bin/*
*/bin/*/
*/eclectic-gen/*
*.asm

# tmp files
*/tmp_/*

!componetization/bento.componetization.ui/swt-grouplayout.jar
!componetization/bento.componetization.ui/swing2swt.jar

/compiler/genericity.compiler.atl/bin/genericity/compiler/atl/*.qool

/tests/bento.sirius.tests/test-outputs/*
/test-outputs/bento.sirius.tests.metamodels.output/models/*.ecore