<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Bento"
            id="bento.repository.importation.ui.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import component"
            icon="icons/bento_import_component.png"
            category="bento.repository.importation.ui.importWizards.sampleCategory"
            class="bento.repository.importation.ui.importWizards.ImportFromRepositoryWizard"
            id="bento.repository.importation.ui.importWizards.ImportFromRepositoryWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="bento.repository.export.ui.exportWizards"
            name="Bento">
      </category>
      <wizard
            category="bento.repository.export.ui.exportWizards"
            class="bento.repository.export.ui.UploadWizard"
            id="bento.repository.ui.upload"
            icon="icons/bento_export_component.png"
            name="Export component">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="bento.repository.ui.preferences.RepositoryPreferencePage"
            id="bento.repository.ui.preferences.RepositoryPreferencePage"
            name="Bento Repository">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="bento.repository.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
